# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Outputs
export_int8/
results/*
!results/figures/
!results/figures/*.png
